@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f1f1f1;
    gap: 30px;
    padding: 20px;
}

h1, h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

.title {
    color: #525E75;
}

.date-today {
    color: #525252;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
    color: #525252;
}

p span {
    font-weight: 700;
    margin-bottom: 10px;
    color: #1B9C85;
}

.data {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ededed;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    max-width: 300px;
    width: 100%;
    box-shadow: 11px 10px 7px -10px rgba(0,0,0,0.1);
}

.card h2 {
    color: #525E75;
}

.card span {
    font-weight: 700;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    gap: 10px;
}

footer a {
    color: #525E75;
}